<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:jpa="http://www.springframework.org/schema/data/jpa" xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-4.1.xsd http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- Enables IOC Annotations -->

	<context:annotation-config />
	<context:component-scan base-package="com.excilys.persistence" />
    <jpa:repositories base-package="com.excilys.persistence"/>


    <bean id="propLoader" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<value>classpath:db.properties</value>
		</property>
	</bean>

	<!--<bean id="dataSource"-->
	<!--class="org.springframework.jdbc.datasource.DriverManagerDataSource">-->
	<!--<property name="driverClassName" value="com.mysql.jdbc.Driver" />-->
	<!--<property name="url" value="${DB_URL}" />-->
	<!--<property name="username" value="${DB_USERNAME}" />-->
	<!--<property name="password" value="${DB_PASSWORD}" />-->
	<!--</bean>-->

	<bean id="hikariConfig" class="com.zaxxer.hikari.HikariConfig">
		<property name="poolName" value="springHikariCP" />
		<property name="dataSourceClassName"
				  value="com.mysql.jdbc.jdbc2.optional.MysqlDataSource" />
		<property name="maximumPoolSize" value="100" />

		<property name="dataSourceProperties">
			<props>
				<prop key="url">${DB_URL}</prop>
				<prop key="user">${DB_USERNAME}</prop>
				<prop key="password">${DB_PASSWORD}</prop>
			</props>
		</property>
	</bean>

	<bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource"
		  destroy-method="close">
		<constructor-arg ref="hikariConfig" />
	</bean>

	<tx:annotation-driven transaction-manager="txManager" />

	<bean id="txManager" class="org.springframework.orm.jpa.JpaTransactionManager"/>


	<bean id="entityManager"
		  class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="jpaVendorAdapter" ref="jpaVendorAdapter" />
		<property name="packagesToScan" value="com.excilys.model" />
	</bean>

	<bean id="jpaVendorAdapter" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
		<property name="databasePlatform" value="org.hibernate.dialect.MySQL5Dialect"/>
		<property name="showSql" value="false"/>
	</bean>


</beans>